{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/transform-runtime",
    "transform-class-properties"
  ]
}